@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
body{
    background-color: hsl(30, 38%, 92%);
    margin: 0%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
}
.card{
   height: 400px;
   width: 550px;
   display: flex;
   border-radius: 15px;
   align-items: center; 
}
.img-container{
    height: 400px;
    width: 300px;
    border-radius: 15px 0px 0px 15px;
   
}
#perfume-img{
    width:100%;
    height:100%;
    border-radius: 10px 0px 0px 10px;
}
.content{
    background-color: hsl(0, 0%, 100%);
    height: 400px;
    width: 300px;
    border-radius: 0px 10px 10px 0px;
}
.sub-content{
    max-width: 100%;
    max-height: 100%;
    margin: 23px;
}
.submit-tab{
    background-color: hsl(158, 85%, 15%);
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    
}
.price-class{
    display: flex;
    align-items: center;
    margin-top: -20px;
}
#price-left{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;

}
#price-right{
    color: rgb(123, 118, 118);
    font-family: 'Montserrat', sans-serif;
}
#heading{
    font-family: 'Fraunces', serif;
}
#perfume-text{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    color: rgb(123, 118, 118);
}
#discription{
    font-size: 14px;
    color: rgb(123, 118, 118);
    font-family: 'Montserrat', sans-serif;
}
#perfume-img {
    content: url("images/image-product-desktop.jpg");
}
#rate{
    text-decoration: line-through;
}
@media (max-width: 600px){
    body{
        background-color: hsl(30, 38%, 92%);
        margin: 0%;
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;}
    
    
    .card{
        height: 400px;
        width: 650px;
        border-radius: 15px;
        display:flex;
        flex-direction: column;
        justify-content: center;

     }
     .img-container{
        height: 250px;
        width: 350px;
        border-radius: 10px 10px 0px 0px;
       
    }
    #perfume-img{
        width:100%;
        height:100%;
        border-radius: 10px 10px 0px 0px;
    }
    .content{
        background-color: hsl(0, 0%, 100%);
        height: 400px;
        width: 350px;
        border-radius: 0px 10px 10px 0px;
    }
    #discription{
        font-size: 14px;
        color: rgb(123, 118, 118);
        font-family: 'Montserrat', sans-serif;
        margin-right: 10px;
    }
    #perfume-img {
        content: url("images/image-product-mobile.jpg");
    }
}
